
<table class="table">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Marca</th>
    </tr>
  </thead>
  <tbody>
    <% @my_last_goods.each do |g| %>
      <tr>
        <td><a href="/goods/<%= g.id %>"><%= g.product %></td>
        <td><%= g.brand %></td>
      </tr>
    <% end %>
  </tbody>
</table>
